.App {
  /* background-color: hsl(0,0,52); */
  margin: 0 auto;
  width: 100%;
  text-align: left;
}

.App-header {
  font-size: 1,5 em;
  font-family: 'Nunito Sans';
  color: hsl(0,0,100);
}

.Card-container {
  width: 18,5%;
  height: 33%;
  border: 3vw;
}